.main{
    height: 200px;
    width: 300px;
    background-color:paleturquoise;
    margin: 0 auto;
    }
    h1{
        text-align: center;
        color: red;
    }
    .plus{
        background-color: red;
        height: 40px;
        width: 100px;
       margin: 2%;
        padding: 10px 20px;
        gap: 10px;
        color: black;
    }
    